.login-outer-container {
  display: flex;
  height: 78vh;
  align-items: stretch;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-image-container {
  flex: 1;
  max-width: 50%;
  border-radius: 0 var(--border-radius-md) 0.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.logo-image {
  height: 100px;
  align-self: center;
}

.login-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-container {
  flex: 1;
  max-width: 25rem;
  padding: var(--spacing-xl);
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  overflow-y: auto;
}

.login-form-container {
  width: 100%;
  text-align: center;
}

.login-heading {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-primary);
}

.login-subheading {
  font-size: 1rem;
  color: var(--color-text-light);
  margin-bottom: var(--spacing-lg);
}

.login-label {
  font-weight: bold;
  margin-bottom: var(--spacing-xs);
  display: inline-block;
}

.login-input-field {
  margin-bottom: var(--spacing-md);
}

.login-error {
  color: red;
  margin-bottom: var(--spacing-md);
  text-align: center;
}

.forgot-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  width: 50%;
}

.forgot-password-button {
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--color-primary);
  text-decoration: underline;
}

.MuiButton-root {
  background-color: var(--color-primary) !important;
  color: var(--color-white) !important;
  height: 2.8125rem;
  border-radius: var(--spacing-lg24);
  font-family: Inter;
  font-size: 1rem;
  font-weight: bold;
  margin-top: var(--spacing-md);
  width: 100%;
}

.MuiButton-root:hover {
  background-color: var(--color-primary-light) !important;
}
