setuptools==75.3.0
firebase-functions==0.4.2
firebase-admin==6.5.0
folium==0.14.0
google-cloud-secret-manager>=2.16.2
googlemaps==4.10.0
k-means-constrained==0.7.3
kmedoids==0.5.3
numpy==1.23.5
pydantic==2.9.2
python-dotenv==1.0.1
scikit-learn==1.5.2
