/* Calendar Page Specific Styling */

.calendar-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--color-background-light);
  border-bottom: 1px solid var(--color-border-light);
  height: 60px;
}

.calendar-header Button {
  width: 10vw;
}

.view-selection button {
  margin: 0 5px;
  padding: 3px 8px;
  font-size: 0.9em;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.view-selection button:hover {
  background-color: #0056b3;
}

/* Month View Styling */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  text-align: center;
  flex-grow: 1; /* Allows the grid to take up remaining space */
}

.calendar-day-header {
  padding: 10px;
  font-weight: bold;
  background-color: var(--color-background-lighter);
  border-bottom: 1px solid var(--color-border-light);
}

.calendar-day {
  padding: 10px 5px;
  min-height: 100px;
  border: 1px solid var(--color-border-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.current-month {
  background-color: var(--color-background-main);
}

.other-month {
  background-color: var(--color-border-lighter);
  color: #aaa;
}

/* Week and Day View Styling */
.week-view .calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.calendar-day-view {
  padding: 20px;
  border-radius: 4px;
  margin: 20px;
  flex-grow: 1;
  text-align: left;
  overflow-y: auto;
}

.calendar_default_event_inner {
  color: var(--color-white);
}

.event-indicator {
  background-color: var(--color-event-indicator);
  color: var(--color-white);
  padding: 2px 6px;
  font-size: 0.75em;
  border-radius: 4px;
  margin-top: 3px;
}

.calendar-day-view .hour-row {
  display: flex;
  align-items: flex-start;
  padding: 8px;
}

.calendar-default-event-inner {
  background: rgba(0, 0, 0, 0.1);
}

.hour-label {
  width: 60px;
}

.event-detail {
  height: 1.5rem;
  width: 9.375rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.calendar_default_timeheader_cell_inner {
  text-align: center;
  font-weight: bold;
}

.calendar-day--selected {
  background: var(--color-primary) !important;
  color: var(--color-background-main) !important;
  font-weight: bold;
  border-radius: 50% !important;
  border: 2px solid var(--color-primary) !important;
  box-shadow: none !important;
}

.calendar-day--today {
  /* Red outline for today's date */
  background: none !important;
  color: var(--color-error-text) !important;
  font-weight: bold;
  border-radius: 50% !important;
  border: 2px solid var(--color-error-text) !important;
  box-shadow: none !important;
}

.calendar-day--today:hover {
  background: none !important;
  color: var(--color-error-text) !important;
  border-radius: 50% !important;
}
