/* Calendar Page Specific Styling */

.calendar-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px var(--spacing-lg);
  background-color: var(--color-background-light);
  border-bottom: var(--spacing-xxs) solid var(--color-border-light);
  height: 60px;
}

.calendar-header Button {
  width: 10vw;
}

.view-selection button {
  margin: 0 var(--spacing-xs);
  padding: 3px var(--border-radius-md);
  font-size: 0.9em;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: var(--spacing-xs3);
  cursor: pointer;
}

.view-selection button:hover {
  background-color: #0056b3;
}

/* Month View Styling */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: var(--spacing-xs2);
  text-align: center;
  flex-grow: 1; /* Allows the grid to take up remaining space */
}

.calendar-day-header {
  padding: var(--spacing-sm);
  font-weight: bold;
  background-color: var(--color-background-lighter);
  border-bottom: var(--spacing-xxs) solid var(--color-border-light);
}

.calendar-day {
  padding: 10px var(--spacing-xs);
  min-height: 100px;
  border: 1px solid var(--color-border-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.current-month {
  background-color: var(--color-background-main);
}

.other-month {
  background-color: var(--color-border-lighter);
  color: #aaa;
}

/* Week and Day View Styling */
.week-view .calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-sm);
}

.calendar-day-view {
  padding: var(--spacing-lg);
  border-radius: var(--spacing-xs4);
  margin: var(--spacing-lg);
  flex-grow: 1;
  text-align: left;
  overflow-y: auto;
}

.calendar_default_event_inner {
  color: var(--color-white);
}

.event-indicator {
  background-color: var(--color-event-indicator);
  color: var(--color-white);
  padding: 2px var(--spacing-xs6);
  font-size: 0.75em;
  border-radius: var(--spacing-xs4);
  margin-top: var(--spacing-xs3);
}

.calendar-day-view .hour-row {
  display: flex;
  align-items: flex-start;
  padding: var(--border-radius-md);
}

.calendar-default-event-inner {
  background: rgba(0, 0, 0, 0.1);
}

.hour-label {
  width: 60px;
}

.event-detail {
  height: var(--spacing-lg24);
  width: 9.375rem;
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 5px var(--spacing-sm);
  border-radius: var(--spacing-lg);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.calendar_default_timeheader_cell_inner {
  text-align: center;
  font-weight: bold;
}
