.box {
  padding: 20px;
  width: 80vw;
  background-color: #f3f3f3;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.table-container {
  background-color: #f3f3f3;
}


table {
  font-family: 'Inter', sans-serif;
}

table .table-header {
  font-weight: bold;
  background-color: #f3f3f3;
  color: #257e68;
  padding: 16px;
}

.table-row {
  background-color: #f3f3f3;
  cursor: pointer;
}

.search-bar {
  width: 100%;
  margin-bottom: 3rem;
}

.create-client {
  width: 15%;
  height: 7vh;
  float: right;
}