html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.box {
  width: 80vw;
  border-radius: 8px;
}

.table-container {
  background-color: #f3f3f3;
}


table .table-header {
  font-weight: bold;
  background-color: #f3f3f3;
  color: #257e68;
  border-bottom: 2.5px solid #ffffff; 
}

.box .table-row {  
  background-color: #f3f3f3;
  border-bottom: 2.5px solid #ffffff; 
}

.box .search-bar {
  width: 100%;
  height: 3em; 
  background-color: #f0f0f0; 
}


.box .create-client {
  width: 15%;
  height: 7vh;
  margin-top:5vh;
  margin-bottom: 2vh;
  float: right;
}

.box .sort-arrow {
  color:#257e68;
}
